---
import Case from '../components/Case.astro';
const casesItems = [
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
  {
    title: "Внедрение системы ИИ-агентов на производственном предприятии",
    tags: ["Франчайзинг", "B2B", "Москва",],
    text: "Производственное предприятие в сфере металлообработки внедрило систему ИИ-агентов для интеллектуального управления производством.",
    results: [
      {
        value: "-45%",
        text: "Снижение незапланированных простоев оборудования",
        prefix: "",
        postfix: "",
      },
      {
        value: "+18%",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "",
      },
      {
        value: "–25",
        text: "Рост общей эффективности оборудования (OEE)",
        prefix: "",
        postfix: "ч/нед",
      }
    ]
  },
];

const tags = ["Автоматизация", "Производство", "ИИ-агенты",  "Производство", "ИИ-агенты", "Автоматизация",];
---

<style lang="scss" is:global>
.cases-page {
  border-radius: var(--radius-xl);
  padding: 1rem;
  color: var(--color-white);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: var(--container-max);

 &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    @media (min-width: 760px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-title {
    font-size: var(--text-4xl);
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    @media (min-width: 760px) {
        font-size: var(--text-5xl);
    }
  }

  &-tags {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
</style>

<div class="cases-page">
  <h1 class="cases-page-title">Кейсы</h1>
  <div class="cases-page-tags">
    {tags.map((tag, index) => (
      <a href="#" class={`tag ${!index && 'active'}`}>{tag}</a>
    ))}
  </div>
  <h1 class="cases-page-grid">
    {casesItems.map((item) => (
      <Case item={item} />
    ))}
  </h1>
  
</div>