---
---

<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <!-- Колонки -->
      <div class="footer__column">
        <h4 class="footer__title">Услуги</h4>
        <ul class="footer__list">
          <li><a href="#">Дизайнерам интерьеров</a></li>
          <li><a href="#">Для коммерческих объектов</a></li>
          <li><a href="#">Для частных домов и квартир</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4 class="footer__title">Компания</h4>
        <ul class="footer__list">
          <li><a href="#">Наши работы</a></li>
          <li><a href="/#about">О нас</a></li>
          <li><a href="/#contact">Контакты</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4 class="footer__title">Шоу-рум в г. Казань, пр. Универсиады 10</h4>
        <ul class="footer__list footer__list--contacts">
          <li><a href="tel:+78432121323">+7 (843) 212-13-23</a></li>
          <li><a href="mailto:info@armobile.net">info@armobile.net</a></li>
          <li><span>РТ, г. Казань, пр. Универсиады 10</span></li>
        </ul>
      </div>

      <div class="footer__column">
        <h4 class="footer__title">Шоу-рум в г. Казань, пр. Универсиады 10</h4>
        <ul class="footer__list footer__list--contacts">
          <li><a href="tel:+78432121323">+7 (843) 212-13-23</a></li>
          <li><a href="mailto:info@armobile.net">info@armobile.net</a></li>
          <li><span>РТ, г. Казань, пр. Универсиады 10</span></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2025 RBK TREID / <a href="#">Политика конфиденциальности</a>
      </div>
      
      <div class="footer__socials">
        <a href="#" class="footer__social-link">
          <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.50257 7.76306C7.33266 5.20655 11.2298 3.55417 13.1939 2.74357C18.7434 0.436478 19.897 0.0311769 20.6452 0C20.8011 0 21.1752 0.0311772 21.4246 0.218239C21.6117 0.374123 21.674 0.592362 21.7052 0.748247C21.7364 0.904131 21.7676 1.24708 21.7364 1.52767C21.4246 4.67654 20.1464 12.3772 19.4605 15.9002C19.1799 17.3967 18.6187 17.8956 18.0887 17.9579C16.9352 18.0514 16.031 17.1785 14.9087 16.4614C13.1627 15.3079 12.1651 14.5908 10.4504 13.4684C8.48621 12.159 9.76446 11.4419 10.8868 10.2884C11.1674 9.97662 16.3116 5.33125 16.4051 4.89478C16.4051 4.83242 16.4363 4.64536 16.3116 4.55183C16.1869 4.4583 16.031 4.48948 15.9063 4.52065C15.7193 4.55183 12.9133 6.42245 7.45737 10.1013C6.64677 10.6625 5.9297 10.9119 5.27498 10.9119C4.55791 10.9119 3.18613 10.5066 2.15729 10.1637C0.910212 9.75838 -0.0874501 9.54014 0.00608066 8.85425C0.0684345 8.5113 0.567265 8.13718 1.50257 7.76306Z" fill="#111111"/>
          </svg>
        </a>
        <a href="#" class="footer__social-link">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2464 26.3498C12.9962 26.3498 11.9505 26.0213 10.1328 24.7073C8.98304 26.1856 5.34221 27.3408 5.18342 25.3643C5.18342 23.8806 4.85492 22.6269 4.48262 21.2581C4.03916 19.5718 3.53546 17.6939 3.53546 14.9729C3.53546 8.47409 8.86808 3.58496 15.1862 3.58496C21.5097 3.58496 26.4646 8.71499 26.4646 15.0331C26.4858 21.2535 21.4667 26.3166 15.2464 26.3498ZM15.3395 9.20225C12.2626 9.04349 9.8645 11.1733 9.33344 14.513C8.89544 17.2778 9.67289 20.6449 10.3354 20.8201C10.6529 20.8968 11.4523 20.2507 11.9505 19.7525C12.7743 20.3216 13.7337 20.6634 14.7318 20.7435C17.92 20.8968 20.6442 18.4696 20.8582 15.285C20.9828 12.0935 18.5281 9.39038 15.3395 9.20774V9.20225Z" fill="#111111"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
.footer {
  background-color: var(--color-white);
  padding: var(--space-20) 0 var(--space-10);
  border-top: 1px solid #F3F4F6;

  &__container {
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 0 var(--space-4);
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-10);
    margin-bottom: var(--space-16);

    @media (min-width: 1024px) {
      justify-content: space-between;
      gap: var(--space-6);
    }
  }

  &__column {
    min-width: 250px;
    flex: 1;

    @media (max-width: 1023px) {
      flex: 1 1 45%;
    }
    
    @media (max-width: 639px) {
      flex: 1 1 100%;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: var(--font-bold);
    color: var(--color-dark);
    margin-bottom: var(--space-6);
    line-height: var(--leading-tight);
    max-width: 280px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    li {
      font-size: var(--text-base);
      color: var(--color-dark);
      opacity: 0.6;

      a {
        color: inherit;
        text-decoration: none;
        transition: color var(--transition-fast);

        &:hover {
          color: var(--color-primary);
          opacity: 1;
        }
      }

      span {
        display: block;
      }
    }

    &--contacts {
      li {
        opacity: 0.8;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-8);
    padding-top: var(--space-10);
    border-top: 1px solid #F3F4F6;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-size: var(--text-sm);
    color: var(--color-dark);
    opacity: 0.5;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    display: flex;
    gap: var(--space-4);
  }

  &__social-link {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-full);
    border: 1px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-fast);

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-light);
    }

    svg {
      // Иконки уже черные через fill
    }
  }
}
</style>