---
import '../styles/global.scss';
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
  <title>РБК Трейд | Дизайнерские радиаторы и конвекторы в Казани</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script is:inline  src="/js/main.js"></script>
</head>
<body class="text-dark bg-white font-gilroy relative">
  <slot />
</body>
</html>